.title{
    color: #22345E;
    font-size: 25px;
}

.form-label{
    color: #BDBDBD;
    display: block;
}

.submit-button {
    background-Color: #27AE60;
    width: 49%;
    height: 3vh;
    color: #fff;
}