.chatbox {
    min-height: 535px;
}

.plus {
    width: 20px;
    height: 20px;
    padding-left: 0px;
}

.send {
    border-radius: 100%;
    width: 26px;
    height: 26px;
}

.received {
    background-color: #4D5F8A;
    color: white;
    margin-right: 50px;
    border-radius:  0px 6px 6px 6px;
}

.sent {
    background-color: lightgray;
    color: black;
    justify-content: flex-end;
    margin-right: 10px;
    border-radius:  6px 0px 6px 6px;
}