.Card_top {
    position: absolute;
    width: 160px;
    height: 40px;
    /* left: 392px;
    top: 232px; */
    
    /* Green 2 */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    background: #27AE60;
    border-radius: 2px 2px 0px 0px;
}

.Card {
    /* Rectangle 117 */
    /* left: 200px;
    top: 250px; */


     

    /* position: absolute; */
    width: 160px;
    height: 121px;
    /* Gray 5 */
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;

}

.Room_number {
    /* Date label */

    /* position: absolute; */
    width: 32px;
    height: 32px;
    /* right: 1008px;
    top: calc(50% - 32px/2 - 288px); */
    top:5px;
    left:5px;

    font-family: Averta;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    letter-spacing: 0.2px;

    /* White */
    color: #FFFFFF;

}

.Room_type {
    /* Date label */

    /* position: absolute; */
    width: 27px;
    height: 24px;

    /* 12 Regular */
    font-family: Averta;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    /* White */
    color: #FFFFFF;

}


.Time {
    /* 15:00 - 16:00 */

    /* position: absolute; */
    width: 71px;
    height: 24px;
    /* left: 400px;
    top: 280px; */

    /* top : 50px;
    left: 5px; */

    /* 12 OVERLINE */
    font-family: Averta;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    text-transform: uppercase;

    /* Gray 3 */
    color: #828282;
}

.Info {
    /* Date label */

    /* position: absolute; */
    width: 27px;
    height: 16px;
    /* left: 500px;
    top: 285px; */

    /* top: 10px; */
    /* right:5px; */

    /* 10 Tiny */
    font-family: Averta;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    /* Text Dark */
    color: #1D1D1D;

}