.side-nav {
  width: 5rem;
  height: 100vh;
  position: fixed;
  top: 0px;
  .nav-text {
    flex-grow: 1;
    font-size: 10px;
    line-height: 16px;
    color: #ffffff;
  }
  .main-ul > a:hover {
    cursor: pointer;
    background: #132142;
    border-left: 2px solid white;
    > .sub-menue {
      display: flex !important;
    }
  }

  .active-link {
    background: #132142;
    border-left: 2px solid white;
  }

  .sub-menue {
    display: none;
    flex-direction: column;
    width: 168px;
    position: absolute;
    left: 80px;
    > a {
      &:hover {
        cursor: pointer;
        background-color: #4d5f8a !important;
        color: white !important;
      }
    }
  }
}
