.submit-button {
  background-color: #27ae60;
  width: 8%;
  height: 3rem;
  color: #fff;
}

.confirm-button {
  width: 13%;
  height: 3rem;
  color: #fff;
}

.cancel-button {
  background-color: white;
  width: 13%;
  height: 3rem;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
}

.checkbox-label {
  position: relative;
  cursor: pointer;
  .custom-checkbox {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #c5c7cd;
  }
  input[type="radio"] {
    display: none;
    &:checked {
      & + .custom-checkbox {
        background: #22345e;
      }
    }
  }
}
